<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="Environment.config">
    <add key="Genesys.TimeZone" value="Eastern Standard Time" />
    <add key="Genesys.IgnorePhoneNumberList" value="*86" />
    <add key="Genesys.RestClientTimeout" value="00:00:15" />
    <add key="Genesys.MaxRetryTime" value="00:00:15" />
    <add key="Genesys.NotificationReceiver.MinBackoff" value="00:00:02" />
    <add key="Genesys.NotificationReceiver.MaxBackoff" value="00:00:30" />
    <add key="Genesys.NotificationReceiver.RandomBackoffFactor" value="0.2" />
    <add key="Genesys.CacheTtl" value="00:15:00" />
    <add key="Genesys.CacheTtl.CampaignOutboundSchedules" value="00:00:30" />
<add key="DialerEventTopic.Name" value="dialer-events-topic-eliaz" />
    <add key="Metrics.AppInsights.FlushInterval" value="00:00:05" />
    <add key="Tracing.Jaeger.Endpoint" value="" />
    <add key="Tracing.Jaeger.MaxQueueSize" value="100" />
    <add key="Tracing.Jaeger.FlushInterval" value="00:00:01" />
    <add key="Tracing.Jaeger.Source" value="local" />
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:using:File" value="Serilog.Sinks.File" />
    <add key="serilog:write-to:File.path" value="%BASEDIR%\%LOGNAME%.log" />
    <add key="serilog:write-to:File.rollingInterval" value="Day" />
    <add key="serilog:write-to:File.outputTemplate" value="{Timestamp:u} | [{Level}] | {SourceContext} | {Message}{NewLine}{Exception}" />
    <add key="serilog:using:Console" value="Serilog.Sinks.Console" />
    <add key="serilog:write-to:Console" />
    <add key="serilog:using:Splunk" value="Serilog.Sinks.Splunk" />
    <add key="serilog:write-to:EventCollector" value="" />
    <add key="serilog:write-to:EventCollector.splunkHost" value="" />
    <add key="serilog:write-to:EventCollector.queueLimit" value="100000" />
    <add key="serilog:write-to:EventCollector.index" value="" />
    <add key="serilog:write-to:EventCollector.source" value="GenesysWorker.log" />
    <add key="serilog:write-to:EventCollector.sourceType" value="" />
    <add key="serilog:using:Sentry" value="Sentry.Serilog" />
    <add key="serilog:write-to:Sentry" value="" />
    <add key="serilog:write-to:Sentry.dsn" value="" />
    <add key="serilog:write-to:Sentry.minimumBreadcrumbLevel " value="Information" />
    <add key="serilog:write-to:Sentry.minimumEventLevel " value="Error" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>



